<% if notice %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Editing Module</div>
  <div class="panel-body">
    <%= link_to '<i class="fa fa-chevron-circle-left"></i> Back'.html_safe, sfmodules_path, class: "btn btn-success" %>
    <hr>
    <%= render 'form' %>
  </div>
</div>
