$mydark: #101010;

body {
	padding-top:80px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: bold;
	background-color: #f0f0f0;
}

.navbar-default {
	background-color: $mydark;
	border-color: $mydark;
}

.navbar-right {
	padding-right: 50px;
}

.navbar-brand {
	padding-left: 50px;
}

/*ireport logo*/
.navbar-default .navbar-header {
	a {
		color: white;
	}
	a:hover {
		color: yellow;
	}
	a:focus {
		color: white;
	}
}

.navbar {
	border-radius: 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 3px 3px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.298039) 3px 3px 3px 0px;
}

.navbar-default .navbar-nav { 
	li {
		a {
			color: white;
		} 
		a:hover {
			background-color: white;
			color: $mydark;
		}
		a:focus {
			background-color: white;
			color: $mydark;
		}
	}
}
.navbar-default .navbar-nav {
	.active {
		a { 
			background-color: $mydark;
			color: white;
		}
		a:hover { 
			background-color: white;
			color: $mydark;
		}
	}
}


.navbar-defaul .navbar-nav:focus {
	background-color: white;
	color: $mydark;
}

#ichart {
	box-shadow: rgba(0, 0, 0, 0.4) 18px 18px 40px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 18px 18px 40px 0px;
	color: rgb(51, 51, 51);
}

.btn {
	border-radius: 15px;
}
.well {
  style: none;
}

.pager li>a, .pager li>span {
        font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
        width: 230px;
        margin: 5px;
        border-color: rgba(94, 97, 99, 0.35);
        border-radius: 20px;
        background-color: white;
        color: rgba(94, 97, 99, 0.9);
}

/*
	Simple form style 
*/

h1 {
	text-align: center;
}

.simple_form {
  div {
  	input {
	  margin-bottom: 25px;
	  clear: both;
	  /* Required for Webkit, but not for Gecko */
	}
	select {
	  margin-bottom: 25px;
	  clear: both;
	}
  }
  label {
    text-align: right;
  }
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.panel-heading {
	text-align: center;
	font-size: 24px;
}

table thead {
	background-color: #337ab7; 
	tr td {
		color: white;
		font-weight: bold;
	}
}